@use "global" as *;

.background-contact{
    position: relative;
}
.background-contact:before{
    content:'';
    background-image: url("../images/common/sp-img/background-img/contact-background-sp.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top:-3px;
    transform:translate(-50%,-50%);
    right: calc(50% - min(57vw, 51rem));
    display:inline-block;
    max-width: rem(140);
    width: 100%;
    height: rem(50);
    @include mq(md) {
        background-image: url("../images/common/pc-img/price/price-background.webp");
        max-width: rem(300);
        width: 100%;
        top: rem(20);
        z-index: 1;
        height: rem(140);
    }
}