@use "global" as *;

.campaign-page.campaign__container{
    margin-right: 0;
}
.campaign-page__wrapper.swiper-wrapper{
        display:grid;
        grid-template-columns: 1fr;
        grid-row-gap:rem(40);
    @include mq(md) {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap:rem(80);
    }
}
