@use "global" as *;

.siteMap-layer{
    position: relative;
    margin-top: rem(52);
    @include mq(md) {
        margin-top: rem(150);
    }
}
.siteMap-layer:before{
    background-image: url(../images/common/pc-img/);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: inline-block;
    height: rem(18);
    left: calc(50% - min(49vw, 38.75rem));
    position: absolute;
    top: -29px;
    width: 7rem(18);
}