@use "global" as *;

.color{
    content:'';
    position:absolute;
    top:0;
    right:0;
    bottom: 0;
    display:inline-block;
    width: 0%;
    height: 100%;
    background-color: #408F95;
    
}

.color.is-active{
    right:-100%;
    z-index: 10;
    width: 100%;
}