@use "global" as *;

.blog {
    margin-top: rem(80);
}

.blog__inner {

}

.inner {

}

.section__title-area {

}

.section-title {

}

.section-title__sub {

}

.blog__body {
    margin-top:rem(24);
}
.blog__body  + .blog__body {
    margin-top: rem(40);
}
.card__wrapper {

}

.card__body {

}

.card__time {

}

.card__title-sub {

}

.card__textArea {

}

