@use "global" as *;

.blog {
    margin-top: rem(80);
    position: relative;
    @include mq(md) {
       margin-top: 0;
       padding-top:rem(100);
    }
}

.blog:before{
    @include mq(md) {
        content:'';
        background-image: url("../images/common/pc-img/background-img/blog-background.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position:absolute;
        top:0;
        left:0;
        display:inline-block;
        width: 100%;
        height: rem(500);
        z-index: -1;
    }
}

.blog__body {
    width: 100%;
    @include mq(md) {
        width: calc(33.3% - 40px * 2 / 3);
    }
}

.blog__body + .blog__body{
    margin-top: rem(40);
    @include mq(md) {
        margin-top: 0;
    }
}


