@use "global" as *;
.blog-cards{
    @include mq(md) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:rem(40);
    }
}
.blog-cards--section.blog-cards{
    grid-template-columns: 1fr 1fr;
}
.blog-cards__item:nth-child(n + 7){
    display:none;
    @include mq(md) {
    display: block; 
    }
}