@use "global" as *;
.blog{
    position: relative;
    padding-top: rem(80);
    @include mq(md) {
        padding-top: rem(100);
    }
}


.blog-card {
    background: var(--white, #FFF);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    display: inline-block;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: rem(16) rem(16) rem(24);
}

.blog-card + .blog-card{
    margin-top: rem(40);
}
.blog-card figure img{
    aspect-ratio: 300/200;
}
.blog-card + .blog-card{
    margin-top: rem(40);
    @include mq(md) {
        margin-top: 0;
    }
}
.blog-card__content{
    margin-top: rem(24);
    display: flex;
    flex-direction: column; 
}
.blog-card__title{
    font-size: rem(16);
    position: relative;
    font-weight: 500;
    padding-bottom: rem(3);
    position: relative;
    @include mq(md) {
        margin-top: rem(3);
    }
}
.blog-card__title:after{
    background-color: #408F95;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 0.0625rem;
    left: 0;
    position: absolute;
    width: 100%;
}
.blog-card__text{
    margin-top: rem(16);
}
.blog-card__content + .card__content{
    margin-top: rem(40);
}

