@use "global" as *;

.blog {
    margin-top: rem(80);
    position: relative;
    @include mq(md) {
       margin-top: 0;
       padding-top:rem(98);
    }
}
.blog__inner.inner{
    padding-left: rem(21);
    padding-right: rem(21);
    @include mq(md) {
        padding-left: rem(25);
        padding-right: rem(25); 
    }
}
.blog:after{
    @include mq(md) {
        content:'';
        background-image:url("../images/common/pc-img/background-img/blog-background2.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position:absolute;
        top:rem(24);
        left:rem(100);
        display:inline-block;
        width: rem(376);
        max-width: 100%;
        height: rem(120);
        z-index: 0;
    }
}
.blog:before{
    @include mq(md) {
        content:'';
        background-image: url("../images/common/pc-img/background-img/blog-background.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position:absolute;
        top:0;
        left:0;
        display:inline-block;
        width: 100%;
        height: rem(500);
        z-index: -1;
    }
}

.blog__body {
    width: 100%;
    margin-top: rem(40);
    @include mq(md) {
        width: calc(33.3% - rem(40) * 2 / 3);
        margin-right: rem(40);
        transition: .5s;
    }
}

.blog__body:hover{
    opacity: .8;
}
.blog__body:nth-child(3n){
    margin-right:0;
}
.blog__body:nth-child(n + 4){
    @include mq(md) {
        margin-top: rem(40);
    }
}



