@use "global" as *;

.btnArea {
    text-align: center;
    position: relative;
}

.btn {
    max-width: rem(206);
    width: 100%;
    display: inline-block;
    position: relative;
    height: 100%;
}
.btn .btn__span:hover:before,
.btn .btn__span:hover:after{
    background-color: $accent-color;
}
.btn:before{
    border: 1px solid $accent-color;
    content: "";
    display: inline-block;
    height: 100%;
    position: absolute;
    right: -6.7rem;
    top: 1.9rem;
    transform: translate(-50%, -50%);
    width: 100%;
  
}
.btn span:first-child{
    position: relative;
    padding-right:rem(80);
}
.btn__span{
    padding-right:rem(6);
    color:$white;
    transition: .5s;
    max-width: rem(202);
    width: 100%;
    padding:rem(16) 2rem 1rem rem(38);
    font-size: rem(14);
    font-family: $second-font-family;
    display: inline-block;
    position: relative;
    text-align: left;
    transition:.5s;
    border: 1px solid $accent-color;
    background-color: $accent-color;
}
.btn__span:hover{
    color:$accent-color;
    background-color: $white;
}
.btn span:after{
    content:'';
    position:absolute;
    width: rem(40);
    height:1px;
    top:50%;
    right:rem(42);
    background-color:$white;
    transform:translate(0,-50%);
    display:inline-block;
}
.btn span:before{
    content:'';
    position:absolute;
    width: .5rem;
    height:1px;
    top:45%;
    right:rem(42);
    background-color:$white;
    transform:translate(0,-50%) rotate(45deg);
    display:inline-block;
}

.space {
    padding-right: rem(.5);
}

