@use "global" as *;

.btnArea {
    text-align: center;
    position: relative;
}

.btn {
    max-width: rem(206);
    width: 100%;
    display: inline-block;
    position: relative;
    height: 100%;
    @include mq(md) {
        max-width: rem(200);
        width: 100%;
    }
}

.btn:before{
    border: 1px solid $accent-color;
    content: "";
    display: inline-block;
    height: 90%;
    position: absolute;
    right: rem(-4);
    top: rem(6);
    width: 100%;
  
}
.btn span:first-child{
    position: relative;
    padding-right:rem(80);
}
.btn__span{
    padding-right:rem(6);
    color:$white;
    transition: .5s;
    padding:rem(16) 2rem 1rem rem(38);
    font-size: rem(14);
    font-family: $second-font-family;
    display: inline-block;
    position: relative;
    text-align: left;
    transition:.5s;
    border: 1px solid $accent-color;
    background-color: $accent-color;
    z-index: 10;
    overflow: hidden;
    width: 100%;
}
.btn__span:hover{
    background-color: $white;
    color:$accent-color;
}
.btn span:after{
    content:'';
    position:absolute;
    width: 100%;
    height:rem(55);
    top:0;
    left: 0;
    display:inline-block;
    transform: translateX(-100%);
    background-color: $white;
    z-index: -1;
    transition: .5s;
}
.btn span:before{
    content:'';
    background-image: url("../images/common/pc-img/btn/btn-arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    width: rem(40);
    height:rem(6);
    top:45%;
    right:rem(30);
    transform:translate(0,-50%);
    display:inline-block;
}
.btn span:hover:after{
    transform: translateX(0);
}
.btn span:hover:before{
    background-image: url("../images/common/pc-img/btn/btn-arrow-green.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position:absolute;
    width: rem(40);
    height:rem(6);
    top:45%;
    right:rem(42);
    transform:translate(0,-50%);
    display:inline-block;
    z-index: 10;
}
.space {
    padding-right: rem(.5);
}

