@use "global" as *;

.campaign-nav{
    margin-top: rem(52);
    text-align: center;
    @include mq(md) {
        margin-top: rem(150);
        text-align: left;
    }
}
.campaign-nav__items{
   display:grid;
   grid-template-columns: 1fr 1fr;
   justify-content: center;
   max-width: rem(345);
   width: 100%;
   grid-row-gap:rem(16);
   @include mq(md) {
       max-width: rem(774);
       justify-content: left;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       grid-row-gap:0;
    }
}
.campaign-nav__item--sizeBig.campaign-nav__item:not(:last-child){
    margin-right:clamp(1.188rem, -0.375rem + 6.667vw, 5.625rem);
}
.campaign-nav__item--sizeBig.campaign-nav__item a{
    max-width: 100%;
    font-size: rem(14);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: rem(10) rem(8);
    @include mq(md) {
        padding: rem(26) rem(16);
        font-size: rem(24);
        text-align: right;
        width: rem(300);
    }
}
.campaign-nav__item--sizeBig.campaign-nav__item a span{
    position: relative;
    padding-left: 0;
    display:inline-block;
    @include mq(md) {
        padding-left: rem(70);
    }
}
.campaign-nav__item--sizeBig.campaign-nav__item a span:before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display:inline-block;
    background-image: url("../images/common/sp-img/diving/diving-icon-img.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    @include mq(md) {
        display: block;
        width: rem(64);
        height: rem(64);
    }
}
.campaign-nav__item a{
    max-width: 100%;
    width: rem(106);
    text-align: center;
    display:inline-block;
    padding:rem(5)rem(16);
    border: 1px solid #408F95;
    font-size: rem(14);
    color: #408F95;
    background-color: #DDF0F1;
    @include mq(md) {
        width: rem(162);
    }
}
.campaign-nav__item a.is-active{
    background-color: #408F95;
}
.campaign-nav__item a.is-active:before{
    background-image: url("../images/common/sp-img/diving/diving-syousai-img.webp");
}
.campaign-nav__item .is-active{
    background-color: #408F95;
    border: 1px solid #fff;
    color: #fff;
}
