@use "global" as *;

.campaign {
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(120);
    }
}

.campaign__inner.inner {
    @include mq(md) {
        margin-right: calc(50vw - 50%);
        padding-right: 0;
        position: relative;
        max-width: rem(1240);
        width: 100%;
        margin-right: 0;
    }
}

.swiper__campaign {
    margin-top: rem(26);
    overflow: hidden;
    // height: rem(500);
    
}

.swiper-wrapper {

}

.swiper-slide {
    // max-width: rem(280);
    width: 100%;
    @include mq(md) {
        flex-shrink: unset;
        width: 100%;
    }
    
}

.campaign__content {
    // max-width: rem(280);
    width: 100%;
    background: var(--white, #FFF);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    @include mq(md) {
    //   max-width: rem(333);  
      width: 100%;
    }
}

.swiper-card {
    max-width: rem(280);
    width: 100%;
   @include mq(md) {
    max-width: rem(333);  
   }
}

.campaign__body {
    padding:rem(18) rem(16)
}

.campaign__info {
    font-size: rem(12);
    color: $accent-color;
    border: 1px solid $accent-color;
    padding: rem(5) rem(11);
}

.campaign__title {
    margin-top: rem(10);
    padding-bottom:rem(7);
    position: relative;
    font-weight: 500;
    font-size: rem(16);
}
.campaign__title:after{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    display:inline-block;
    width: 100%;
    height:rem(1);
    background-color:$accent-color;
}
.campaign__price {
    text-align: center;
}

.campaign__price-title {
    margin-top: rem(10);
    font-weight: 400;
    font-size: rem(14);
    @include mq(md) {
        margin-top: rem(16);
        font-size: rem(16);
    }
}

.campaign__price-titleBig {
    font-size: rem(32);
    color: $accent-color;
    font-weight: 700;
    margin-left: rem(18);
    font-family: 'Lato', sans-serif;
    @include mq(md) {
        font-size: rem(40);
    }
}
.campaign__price-text{
    margin-top: rem(8);
    font-size: rem(20);
    font-family: 'Lato', sans-serif;
}
.campaign__price-textBorder{
    position: relative;
    width: fit-content;
    margin: auto;
    margin-left: rem(19);
}
.campaign__price-textBorder:before{
    content:'';
    position:absolute;
    top:60%;
    left:rem(50);
    transform:translate(-50%,0);
    display:inline-block;
    width: 30%;
    height:rem(2);
    background-color: red;
}

.swiper-button__wrapper .swiper-button-prev,
.swiper-button__wrapper .swiper-button-next{
    width: rem(80);
    height: rem(80);
}

.swiper-button-prev:after,
.swiper-button-next:after{
    display: none;
   
}
.swiper-button-next{
    margin-right: rem(80);
    background-image: url("../../../dist/assets/images/");
}