@use "global" as *;

.card-content__time{
    font-size: rem(12);
    font-family: $second-font-family;
}

.card-content__title{
    font-size: rem(16);
    position: relative;
    font-weight: 500;
    padding-bottom: rem(3);
    position: relative;
    @include mq(md) {
        margin-top: rem(3);
    }
}
.card-content__title:after{
    background-color: #408F95;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 0.0625rem;
    left: 0;
    position: absolute;
    width: 100%;
}
 .card-content__text{
    margin-top: rem(16);
 }