@use "global" as *;


.card-item {
    background: var(--white, #FFF);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin-top: rem(40);
    padding: rem(12) rem(16) rem(24);
    @include mq(md) {
        max-width: rem(520);
        margin-top: 0;
        padding: rem(24) rem(25) rem(20);
    }
}


.card-item__inner {
    padding: rem(12) rem(16) rem(24);
    @include mq(md) {
        padding: rem(24) rem(25) rem(20);

    }
}

.card-item__wrapper {
    display: flex;
    overflow: hidden;
}
.card-item__body{
    margin-right: rem(13);
    @include mq(md) {
        margin-right: rem(16);
        margin-top: rem(24);
    }
}
.card-item__description{
    display: inline-block;
    @include mq(md) {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}
.card-item__bodys{
        display: flex;
}
.card-item__bodys figure{
    position: relative;
    margin-top: rem(12);
    aspect-ratio: 150 /117;
    @include mq(md) {
        margin-top: 0;
        aspect-ratio: 180/140;
    }
}


.card-item__info {
    font-size: rem(12);
}

.card-item__license {
    padding: rem(6) rem(10);
    border: 1px solid $accent-color;
    color: $accent-color;
    text-align: center;
    font-size: rem(12);
    @include mq(md) {
        margin-left: auto;
    }
}
.card-item__license--width{
    max-width: rem(130);
    width: 100%;
}
.card-item__body-title {
    width: 100%;
    position: relative;
    padding-bottom: rem(3);
    margin-top: rem(3);
    font-size: rem(16);
    font-weight: 700;
        @include mq(md) {
            font-size: rem(24);
            margin-top: rem(10);
        }
    }
    
.card-item__body-title:before{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    display:inline-block;
    width: 100%;
    height: rem(1);
    background-color: $accent-color;
    
}
.card-item__text {
    line-height: 1.5;
    margin-top: rem(15);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    @include mq(md) {
        margin-top: rem(40);
    }
}