@use "global" as *;



.card__body {
    padding:rem(14) rem(16) rem(18);
    display: flex;
    flex-direction: column;
    height: 100%;
    @include mq(md) {
        padding: rem(24) rem(18) rem(28);
        
    }
    
}
 
.card__category {
    font-size: rem(12);
    color: $accent-color;
    border: 1px solid $accent-color;
    width: fit-content;
    display: inline-block;
    padding: rem(6) rem(12);
    @include mq(md) {
        
        padding: rem(6) rem(15);
    }
}

.card__title {
    margin-top: rem(3);
    padding-bottom:rem(10);
    position: relative;
    font-weight: 500;
    font-size: rem(16);
    @include mq(md) {
        padding-bottom: rem(9);
        margin-top: rem(4);
    }
}
.card__title:after{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    display:inline-block;
    width: 100%;
    height:rem(1);
    background-color:$accent-color;
}
.card__price {
    height: 100%;
}

.card__info {
    margin-top: rem(8);
    font-weight: 400;
    font-size: rem(14);
    text-align: center;
    @include mq(md) {
        margin-top: rem(16);
        font-size: rem(16);
        text-indent: -0.8em;
    }
}

.card__lowPrice {
    font-size: rem(28);
    color: $accent-color;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    @include mq(md) {
        font-size: min(2rem,2.8vw);
        
    }
}
.card__isPrice{
    font-size: rem(20);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: rem(6);
    @include mq(md) {
        align-items: center;
        margin-top: rem(8);
    }
}

.card__highPrice{
    position: relative;
    text-align: center;
    margin-right: rem(8);
    @include mq(md) {
        font-size: rem(20);
    }
}

.card__highPrice:before{
    content:'';
    position:absolute;
    top:50%;
    transform:translate(-50%,0);
    display:inline-block;
    width: 100%;
    height:rem(2);
    background-color: red;
   left: 50%;
}
