@use "global" as *;

.contact {
    margin-top: rem(80);
    @include mq(md) {
        margin-top: rem(140);
    }
}

.contact__inner.inner {
    text-align: center;
    padding-bottom: rem(12);
    @include mq(md) {
        padding-left: rem(35);
        padding-right: rem(35);
    }
}

.contact__logo{
    line-height: 0;
}
.contact__logo a{
    position: relative;
    position: relative;
    padding-bottom: rem(6);
    display: inline-block;
    width: 100%;
    @include mq(md) {
        width: 100%;
        padding-bottom: rem(13);
    }
}
.contact__logo a:after{
    content:'';
   position: absolute;
    bottom: 0;
   left: 50%;
   transform: translate(-50%,-50%);
    background-color: $accent-color;
    display:inline-block;
    width: 100%;
    height: rem(1);
}
.contact__logo img {
    max-width: rem(174);
    width: 100%;
    margin: auto;
    @include mq(md) {
        max-width: rem(200);
    }
}
.contact__wrapper{
    position: relative;
    padding: 0 rem(25);
    @include mq(md) {
        display: flex;
        background: #FFF;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
        padding-top: rem(90);
        padding-bottom: rem(90);
        padding-left: rem(50);
        padding-right:rem(50)
    }
}
    
.contact__wrapper:before{
    content:'';
    background-image: url("../images/common/sp-img/background-img/contact-background-sp.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top:0;
    left: min(77vw,100%);
    transform:translate(-50%,-50%);
    display:inline-block;
    max-width: rem(140);
    width: 100%;
    height: rem(50);
    @include mq(md) {
        background-image: url("../images/common/pc-img/price/price-background.webp");
        max-width: rem(300);
        width: 100%;
        top: rem(34);
        left: min(77vw, 98%);
        height: rem(140);
    }
}
.contact__bodyWrapper {
    position: relative;

    @include mq(md) {
        display: flex;
        flex-direction: column;
        max-width: rem(522);
        width: 100%;
        padding-right: rem(82);
    }
}
.contact__bodyWrapper:after{
        content:'';
        position:absolute;
        top:50%;
        right: 0;
        transform:translateY(-50%);
        display:inline-block;
        height: rem(255);
        width: rem(1);
        background-color: $accent-color;
        display: none;
        @include mq(md) {
            display: block;
        }
}

.contact__body {
    margin-top: rem(16);
    @include mq(md) {
        display: flex;
        margin-top: rem(22);
        text-align: left;
    }
}

.contact__info {

}
.contact__info p:nth-child(n + 2){
    margin-top: rem(4);
}
.contact__info p:first-child{
    margin-right: rem(8);
}
.contact-sapce {
    // max-width: rem(295);
    width: 100%;
    height: rem(160);
    background-color: #D9D9D9;
   
    margin-top: rem(16);
    @include mq(md) {
        margin-top: rem(0);
        max-width: rem(273);
        margin-left: auto;
        height: rem(148);
    }
}

.contact__linkArea {
    margin-top: rem(56);

    @include mq(md) {
        margin-top: rem(16);
        margin-left: rem(80);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.contact__btn {
    margin-top: rem(40);
    @include mq(md) {
        max-width: rem(200);
        width: 100%;
    }
}


