@use "global" as *;

.copy-right{
   
}

.copy-right p{
    font-size: rem(12);
    color: $white;
    font-family: $second-font-family;
    letter-spacing: -0.003em;
    text-align: center;
    @include mq(md) {
        font-size: rem(14);
    }
}