@use "global" as *;

.drawer {

}

.drawer__btns {
    width: rem(32);
    height:rem(24);
    position: relative;
    @include mq(md) {
        display: none;
    }
}

.drawer__btn1 {

}

.drawerBtn {
    background-color: $white;
    position:absolute;
    width: 100%;
    height:rem(1);
    transition: .3s;
}

.drawer__btn1 {
    top:0;
    left: 0;
}
.drawer__btn1.is-active{
    transform:rotate(38deg);
    top:50%;
}
.drawer__btn2 {
    top:50%;
    left:0;
}
.drawer__btn2.is-active{
    opacity: 0;
}
.drawer__btn3 {
    bottom:0;
    left:0;
}
.drawer__btn3.is-active{
    transform:rotate(-38deg);
    top: 50%;
}
.drawer__content {
   position:absolute;
   top: rem(104);
   left:rem(15);
   height: rem(10);
   z-index: 999;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   opacity: 0;
   visibility: hidden;
//    transition: .3s;
   grid-row-gap: 40px;
   column-gap: rem(16);
   margin-top: rem(24);
   @include mq(md) {
        grid-template-columns: repeat(4,1fr);
   }   
}
.drawer__content.is-active{
    opacity: 1;
    width: 100%;
    visibility: visible;
    height: 100vh;
    padding-bottom: rem(120);
    overflow: scroll;
    grid-template-rows: rem(242) rem(250) 0;
}
.drawer-item:nth-child(3){
    padding-left:rem(23);
    @include mq(md) {
        order: 3;
    }
}
.drawer-item{
        padding-left: rem(22); 
}
.drawer-item:hover{
    opacity: .5;
}



.drawer-item a{
    display: inline-block;
    font-weight: 700;
    display: inline-block;
    width: 100%;
}
.drawer-item a span{
    display: inline-block;
    
}
.drawer-item-topSpace{
    margin-top: rem(40);
    padding-left:rem(22);
}
.drawer-item-topSpaceNone{
    margin-top: 0;
    @include mq(md) {
       margin-top: rem(40); 
    }
}
.drawer-item + .drawer-item{
    margin-top: rem(18);
}
.drawer-item  a{
    color:$white;
}
.drawer-item  a span{
    font-weight: 700;
}
.drawer-background{
    transition: .3s;
}
.drawer-background.is-active{
    background-color: $accent-color;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99;
}

.drawer-item-topSpace.drawer-item{
    margin-top: rem(38);
    line-height:1.2;
    @include mq(md) {
        margin-top: rem(38);
    }
}

.drawer__menus01{
    order:1;
    @include mq(md) {
        order: unset;
    }
}
.drawer__menus02{
    order: 3;
    @include mq(md) {
        order: unset;
    }
}
.drawer__menus03{
    order: 2;
    margin-left: rem(12);
    @include mq(md) {
        order: unset;
        margin-left: 0;
    }
}

.drawer__menus04{
   order:4; 
   margin-left: rem(12);
   @include mq(md) {
       order: unset;
       margin-left: 0;
   }
}
