@use "global" as *;


.footer-item a{
    display: inline-block;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    color:$white;
}
.footer__item{
    padding-left: rem(18);
    
}
.footer__item:not(:first-child){
    margin-top:rem(18);
}