@use "global" as *;

.header {
    height: rem(80);
    width: 100%;
    position: fixed;
    z-index: 9999;
    background: rgba(13, 41, 54, 0.68);
    @include mq(md) {
        height: rem(90);
    }
}


.header__inner {
    height:inherit;
    padding: 0rem calc(max(.937vw,.937rem)) 0 calc(max(.937vw,.937rem));
    @include mq(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(0) rem(20) 0 rem(40);
        margin: auto;
    }
}

.header__inner.is-active{
    background-color:$accent-color;
}

.header__left {
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:inherit;
    @include mq(md) {
        justify-content: unset;
    }
}
.header__content{
    margin-left: auto;
}
.header__title {
    width: rem(104);
    margin-right: auto;
    @include mq(md) {
        width: rem(139);
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.header__right {
   display:none;
   @include mq(md) {
      display: flex;
      align-items: center;
      height: inherit;
   }
}

.header__item{
    text-align: center;
    white-space: nowrap;
    height: inherit;
    display: flex;
    align-items: center;
}

.header__items {
    display: flex;
    align-items: center;
    height: inherit;
}

.header__item a{
    display: flex;
    font-size: rem(18);
    color: $white;
    font-family: $second-font-family;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    position: relative;
                //clamp(最小サイズ(SP),タブレットサイズ(tab) + ビューポート幅,最大サイズ(PC)),
    padding-right: clamp(0.625rem, 0.405rem + 0.939vw, 1.25rem);;
    padding-left: clamp(0.625rem, 0.405rem + 0.939vw, 1.25rem);;
}

.header__item a:before{
    content:'';
    position:absolute;
    bottom: rem(20);
    left:50%;
    transform:translateX(-50%);
    display:block;
    width: 0;
    height: 1px;
    background-color: $white;
    transition: width .3s;
}
.header__item:hover a:before{
    width: 100%;
}
.header__item a span{
    font-size: rem(10);
    text-align: center;
    font-family: $base-font-family;
}

.header__drawer > .header__drawer-item{
    column-gap:rem(6);
}


// .header__drawer-content.is-active{
//     opacity: 1;
//     width: 100%;
//     visibility: visible;
//     height: 100vh;
//     padding-bottom: rem(120);
//     overflow: scroll;
//     grid-template-rows: rem(242) rem(250) 0;
// }
// .header__drawer {
//     position:absolute;
//     top: rem(104);
//     left:rem(15);
//     height: rem(10);
//     z-index: 999;
//     display: grid;
//     grid-template-columns: repeat(2,1fr);
//     opacity: 0;
//     visibility: hidden;
//  //    transition: .3s;
//     grid-row-gap: 40px;
//     column-gap: rem(16);
//     margin-top: rem(24);
//     @include mq(md) {
//          grid-template-columns: repeat(4,1fr);
//     }   
//  }
 
 .header__drawer-background{
    transition: .3s;
}
.header__drawer-background.is-active{
    background-color: $accent-color;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99;
}


.header__content {
    position:absolute;
    top: rem(104);
    left:rem(15);
    height: rem(10);
    z-index: 999;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    opacity: 0;
    visibility: hidden;
 //    transition: .3s;
    grid-row-gap: 40px;
    column-gap: rem(16);
    margin-top: rem(24);
    @include mq(md) {
         grid-template-columns: repeat(4,1fr);
    }   
 }
 .header__content.is-active{
     opacity: 1;
     width: 100%;
     visibility: visible;
     height: 100vh;
     padding-bottom: rem(120);
     overflow: scroll;
     grid-template-rows: rem(242) rem(250) 0;
 }