@use "global" as *;
.information {
    padding-top: rem(80);
    @include mq(md) {
        padding-top: rem(100);
    }
}

.infomation__body {
    margin-top: rem(26);
    @include mq(md) {
        margin-top: rem(46);
    }
}
.infomation__inner.inner{
    padding-left: rem(15);
    padding-right: rem(15);
    @include mq(md) {
        padding-left: rem(25);
        padding-right: rem(25);  
    }
}
