@use "global" as *;
.information {
    margin-top: rem(80);
    padding-top: rem(80);
    padding-bottom: rem(80);
}

.infomation--backgroudColor{
    background-color: #DDF0F1;
}

.infomation__inner {

}

.inner {

}

.section__title-area {

}

.section-title {

}

.section-title__sub {

}

.infomation__body {
    margin-top: rem(24);
}

.card__wrapper {

}

.card__body {

}

.card__title-sub {

}

.card__textArea {

}

.btnArea {

}

.infomation-btn {

}

.btn {

}

.btn__span {

}

