@use "global" as *;
.information {
    // margin-top: rem(28);
    padding-top: rem(80);
    @include mq(md) {
        // padding-bottom: rem(100);
        // margin-top: rem(65);
        padding-top: rem(94);
    }
}

.infomation__body {
    margin-top: rem(32);
    @include mq(md) {
        margin-top: rem(42);
    }
}
.infomation__inner.inner{
    padding-left: rem(15);
    padding-right: rem(15);
    @include mq(md) {
        padding-left: rem(25);
        padding-right: rem(25);  
    }
}
