@use "global" as *;

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
position: fixed;
width: 100%;
height: 100%;
z-index: 999;
background:#fff;
text-align:center;
color:$accent-color;
overflow: hidden;
}
#splash.off{
   display: none;
}
/* Loading画像中央配置　*/
#splash_logo {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
width: 100%;

}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
width:50%;
height: 100vh;
opacity: 0;
transform: translateY(100%);
}
.animation__left{
  transition: 2s;
}
.animation__right{
  transition: 3s;
}
.animation__center{
  opacity: 0;
  width: 100%;
  height: 100vh;
}
.animation__center.is-active{
  opacity: 1;
}
#splash_logo img.is-active{
  transform:translateY(0%);
  opacity: 1;
  z-index: 999;
} 
/* fadeUpをするアイコンの動き */

.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes fadeUpAnime{
from {
  opacity: 0;
transform: translateY(100px);
}

to {
  opacity: 1;
transform: translateY(0);
}
}
.animation__center{
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
}


// /*========= レイアウトのためのCSS ===============*/

#container{
  width:100%;
  height: 100vh;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
 
 
}

a{
  color: #333;
}

a:hover{
   text-decoration: none;   
}

.opening{
  opacity: 1;
  visibility: visible;
  transition: 5s;
}
.opening.off{
    display: none;
}
.opening.fadeOut{
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*========= レイアウトのためのCSS ===============*/
