@use "global" as *;
.page-top {
    position: fixed;
    right: rem(15);
    bottom: rem(15);
    display: none;
}
.page-top.is-active{
    display:block;
}
.page-top a{
    height: inherit;
    display: inline-block;
    width: 100%;
}
.page-top__img{
  position: relative;
}
.page-top__img:before{
    content:'';
    position:absolute;
    top:45%;
    right:rem(-2);
    transform:translate(-50%,-50%);
    display:inline-block;
    width: rem(28);
    height: 100%;
    background-image: url("../images/common/sp-img/contact/number.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    @include mq(md) {
       right: rem(14);
       background-image:url("../images/common/pc-img/background-img/backgrounud-nuber.png");
       background-size: contain;
       height: rem(40);
    }
}
.number-svg:before{
    content: "";
    width: rem(48);
    height:rem(48);
    background-color: $white;
    border-radius: 50%;
    @include mq(md) {
        width: rem(80);
        height: rem(80);
    }
}
.page-top__img svg{
    width: rem(48);
    height: rem(48);
    @include mq(md) {
        width: rem(80);
        height: rem(90);
    }
}