@use "global" as *;

.price {
    margin-top: rem(80);
    padding-top: rem(80);
    
    @include mq(md) {
        margin-top: rem(70);
        padding-top:rem(95);
       
    }
}

.acccent--backgroudColor {

}

.price__inner.inner {
        padding-right: rem(15);
        padding-left: rem(15);
        position: relative;
        padding-bottom: rem(80);
    @include mq(md) {
         padding-bottom: rem(100);
    }
}
.price__inner:before{
    @include mq(md) {
        content:'';
        background-image: url("../images/common/pc-img/background-img/price-background.webp");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        max-width: rem(438);
        position:absolute;
        bottom: rem(60);
        left: calc(50% - min(50vw , 650px));
        height: rem(200);
        transform:translateY(-50);
        display:inline-block;
    }
}
.price__bodyWrapper {
    margin-top: rem(28);
    @include mq(md) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: rem(42);
        padding: 0 rem(12);
    }
}
.price__body{
    @include mq(md) {
        display: flex;
        justify-content: space-between;
    }
}

.price__bodys + .price__bodys{
    margin-top: rem(41);
}
.price__imgArea {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.price__visual img{
    width: 100%;
    aspect-ratio: 345/227;
    @include mq(md) {
        aspect-ratio: 492/734; 
    }
   
}

.price__info {
    margin-top: rem(38);
    @include mq(md) {
        width: 100%;
        margin-right: rem(90);
        margin-top: rem(0);
    }
}

.price__title {
    font-weight: 700;
    position: relative;
    padding-bottom: rem(5);
    font-size: rem(16);
}

.price__title:after{
    content:'';
    position:absolute;
    bottom: 0;
    left:0;
    display:inline-block;
    width: 100%;
    height: rem(1);
    background-color: $accent-color;
}

.price__title + .price__title{
    margin-top: rem(40);
}
.price__text,
.price__money{
    display:inline-block;
    font-size: rem(14);
    margin-top: rem(10);
    @include mq(md) {
        font-size: rem(16);
        margin-top: rem(7.5);
    }
}
.price__text {
  max-width: rem(253);
    width: 100%;
    @include mq(md) {
        max-width: rem(300);
    }
}

.price__money {
    max-width: rem(88);
    width: 100%;
    text-align: right;
}


.price-btn{
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(83);
    }
}