@use "global" as *;

.section__title-area {
    text-align: center;
    line-height: 1.31;
}

.section-title {
    font-weight: 400;
    font-family: $second-font-family;
    font-size: rem(32);
    @include mq(md) {
        font-size: rem(40);
    }
}

.section-title__sub {
    font-size: rem(12);
    color: $accent-color;
}
.section__title--color{
    color:$accent-color;
}

.section-title__contact{
    font-size: rem(80);
    
}

.section-title--white{
    @include mq(md) {
        color: $white;
    }
}

