@use "global" as *;

.section__title-area {
    text-align: center;
    line-height: 1.2;
    position: relative;
}

.section-title {
    font-weight: 400;
    font-family: $second-font-family;
    font-size: rem(32);
    @include mq(md) {
        font-size: rem(40);
    }
}

.section-title__sub {
    font-size: rem(12);
    color: $accent-color;
}
.section-title__link{
    font-size: rem(14);
    color: $accent-color;
    // margin-top: rem(10);
    display: inline-block;

}
.section__title--color{
    color:$accent-color;
}

.section-title__contact.section-title{
    font-size: rem(80);
    line-height: .6;
    margin-left: rem(-10);
}

.section-title--white{
    @include mq(md) {
        color: $white;
    }
}

.section__title-area--lineHeight{
    line-height: 1.9;
    @include mq(md) {
        margin-left: rem(12);
    }
}

.section-title__contact{
    line-height:.7;
}