@use "global" as *;

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-wrapper {
    width: 100%;
   
}

.swiper-slide {
    position: relative;
    height: 100%
}
.swiper-slide.swiper-card{
    height: auto;
}
.head__visual {
    position:absolute;
    top: 0;
    left:0;
    display:inline-block;
    height:100vh;
    width:100%;
}
.head__visual  img{
   
}
.pc__img {

}
.swiper-slide__title-body{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:inline-block;
    color:$white;
    font-family: $second-font-family;
    text-align: center;
    max-width: rem(248);
    width: 100%;
    line-height: calc(1.5);
    @include mq(md) {
       font-size: rem(80);
       max-width: 100%;
       line-height: calc(.5);
    }
}
.swiper-slide__title {
    font-size: rem(40);
    font-weight: 400;
    letter-spacing: .52em;
    font-family: $top-font-family;
    @include mq(md) {
        letter-spacing: .54em;
        font-size: rem(80);
    }
}
.swiper-slide__title-sub{
    font-size: rem(20);
    display:inline-block;
    @include mq(md) {
        width: 100%;
        text-align: center;
        margin-left: rem(-45);
    }
}

.swiper-slide__title-body--color{
    color: $accent-color;
    
}



