@use "global" as *;

.swiper-button__wrapper{
    position: absolute;
    top:0;
    right: rem(180);
    @include mq(md) {
        top:rem(30);
        right:rem(270)
    }
    
}

.swiper-button-prev{
    @include mq(md) {
        background-image: url("../images/common/pc-img/top/button2.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: rem(80);
        height: rem(80);
        display:inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }
   
}

.swiper-button-next{
    @include mq(md) {
        background-image: url("../images/common/pc-img/top/button1.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: rem(80);
        height: rem(80);
        display:inline-block;
        position: absolute;
        top: 0;
        right: 17px;
    }
}