@use "global" as *;

.swiper-button{
    position: absolute;
    top:0;
    left: calc(50vw - min(50vw - 71vw));
    @include mq(md) {
       top: 0;
       max-width: rem(236);
       width: 100%;
    }
    
}

.swiper-button__prev{
    @include mq(md) {
        background-image: url("../images/common/pc-img/top/button1.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: rem(80);
        height: rem(80);
        display:inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }
   
}

.swiper-button__next{
    @include mq(md) {
        background-image: url("../images/common/pc-img/top/button2.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: rem(80);
        height: rem(80);
        display:inline-block;
        position: absolute;
        top: 0;
        right: 0;
    }
}