@use "global" as *;

.voice {
    position: relative;
}

.voice__card{
    margin-top: rem(44);
    @include mq(md) {
        margin-top: rem(32);
    }
    
}
.voice__item{
   
}
.voice:before{
    content:'';
    background-image: url("../images/common/pc-img/voice/voice-background.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    top:rem(18);
    left:calc(50% - min(49vw , rem(620)));
    display:inline-block;
    max-width: rem(300);
    height: rem(138);
    width: 100%;
    display: none;
    @include mq(md) {
        display: block;
        top: rem(-122);
    }
}

.voice__inner:after{
    content:'';
    background-image:url("../images/common/pc-img/background-img/voice-imge2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    bottom: rem(-66);
    right: calc(50% - min(49vw, 33.7rem));
    display:inline-block;  
    width: rem(70);
    max-width: 100%;
    height: rem(162);
    display: none;
    @include mq(md) {
        display: block;
    }    
}
.voice__btn{
    margin-top: rem(40);
    text-align: center;
    @include mq(md) {
        margin-top: rem(80);
    }
}


